<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <%= gravatar_for @user %>
    </td>
    <td class ="username">
      <h1>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name:</strong> <%= @user.name %><br />
      <strong>Link:</strong>  <%= link_to "My Profile", @user %>
    </td>
  </tr>
</table>
